.player {
  stroke-width: 0.75;
  /* filter: url(#player-shadow); */
}

.splotch {
  stroke-width: 0.3;
}

.player_red {
  fill: var(--color-red);
  stroke: var(--color-red-dark);
}

.player_blue {
  fill: var(--color-blue);
  stroke: var(--color-blue-dark);
}

.player_green {
  fill: var(--color-green);
  stroke: var(--color-green-dark);
}

.player_yellow {
  fill: var(--color-yellow);
  stroke: var(--color-yellow-dark);
}

.player_orange {
  fill: var(--color-orange);
  stroke: var(--color-orange-dark);
}

.player_purple {
  fill: var(--color-purple);
  stroke: var(--color-purple-dark);
}

.player_cyan {
  fill: var(--color-cyan);
  stroke: var(--color-cyan-dark);
}

.player_pink {
  fill: var(--color-pink);
  stroke: var(--color-pink-dark);
}

.player_black {
  fill: var(--color-black);
  stroke: var(--color-black-dark);
}

.player_white {
  fill: var(--color-white);
  stroke: var(--color-white-dark);
}

.line_colored {
  stroke-width: 3;
  stroke: var(--line-color);
  fill: none;
}

.line_red {
  stroke-width: 2;
  stroke: var(--color-red);
  fill: none;
}

.line_blue {
  stroke-width: 2;
  stroke: var(--color-blue);
  fill: none;
}

.line_green {
  stroke-width: 2;
  stroke: var(--color-green);
  fill: none;
}

.line_yellow {
  stroke-width: 2;
  stroke: var(--color-yellow);
  fill: none;
}

.line_orange {
  stroke-width: 2;
  stroke: var(--color-orange);
  fill: none;
}

.line_purple {
  stroke-width: 2;
  stroke: var(--color-purple);
  fill: none;
}

.line_cyan {
  stroke-width: 2;
  stroke: var(--color-cyan);
  fill: none;
}

.line_pink {
  stroke-width: 2;
  stroke: var(--color-pink);
  fill: none;
}

.line_black {
  stroke-width: 2;
  stroke: var(--color-black);
  fill: none;
}
.line_white {
  stroke-width: 2;
  stroke: var(--color-white);
  fill: none;
}
