html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  --bg-color: #e4c897;
  --tile-color: #a72;
  --line-color: #fed;
  --edge-color: #860;

  --tile-size: min(calc((90vh - 10rem)  / 6.4), calc((100vw - 2em) / 6.4));
  min-height: 100vh;
}

body {
  padding: 1rem;
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
