@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  min-height: 100vh;

  overflow-x: hidden;
  max-width: 100%;

  --tile-size: min(calc((90vh - 16rem) / 6.4), calc((100vw - 2em) / 6.4));
  --board-size: calc(var(--tile-size) * 6.4);
}
