.hand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.handTiles {
  align-self: flex-start;
  display: flex;
  width: calc(var(--tile-size) * 5 * 1.33);
  padding-left: calc(var(--tile-size) * 1.33);
}

.tileButton {
  border: none;
  background: none;
  padding: 0;
  line-height: 0;
  margin: 0;
}

.tileSvg {
  height: calc(var(--tile-size) * 1.33);
}

.instruction {
  text-align: center;
  margin: 0 0 0.2rem;
  /* font-size: 0.8rem; */
}

.hint {
  margin: 0;
  font-size: 0.8rem;
}
