.hand {
  margin-top: 1rem;
  text-align: center;
}

.handTiles {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 1rem;
}

.tileButton {
  border: none;
  background: none;
  padding: 0;
  line-height: 0;
}


.tileSvg {
  height: calc(var(--tile-size)* 1.33);
  width: var(--tile-size)* 1.33;
}