.tile {
  fill: var(--tile-color);
}

.line_bg {
  stroke-width: 1.5;
  stroke: var(--tile-color);
  fill: none;
}

.line {
  stroke-width: 1;
  stroke: var(--line-color);
  fill: none;
}

.edge {
  stroke-width: 1.5;
  stroke: var(--edge-color);
  fill: none;
}