.players {
  display: flex;
  gap: 1rem;
}

.player_pill {
  padding: 0.5rem;
  display: flex;
  gap: .4rem;
  border: 1px solid;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}

.player_pill__turn {
  border-width: 3px ;
}

.player_pill__disconnected {
  opacity: 0.5;
}

.player_token {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: .6rem;
  border: .1rem dashed;
  background: none;
}

.player_token__color {
  border: .2rem solid;
  filter: drop-shadow(.05rem .05rem .05rem rgba(0, 0, 0, 0.2));
}

.watching_token {
  border: none;
  background: none;
  font-size: 1rem;
  padding:0;
}

.remove_button {
  cursor: pointer;
  position: relative;
}

.remove_button:hover {
  border: .1rem solid var(--color-red-dark);
  background: none;
}

.remove_button:hover::after {
  content: "❌";
  position: absolute;
  top:0;
  left:0;
  height: 100%;
  width: 100%;
}

.player_pill__red {
  border-color: var(--color-red-dark);
}

.player_pill__blue {
  border-color: var(--color-blue-dark);
}

.player_pill__green {
  border-color: var(--color-green-dark);
}

.player_pill__yellow {
  border-color: var(--color-yellow-dark);
}

.player_pill__orange {
  border-color: var(--color-orange-dark);
}

.player_pill__purple {
  border-color: var(--color-purple-dark);
}

.player_pill__black {
  border-color: var(--color-black-dark);
}

.player_pill__white {
  border-color: var(--color-white-dark);
}


.player_token__red {
  background-color: var(--color-red);
  border-color: var(--color-red-dark);
}

.player_token__blue {
  background-color: var(--color-blue);
  border-color: var(--color-blue-dark);
}

.player_token__green {
  background-color: var(--color-green);
  border-color: var(--color-green-dark);
}

.player_token__yellow {
  background-color: var(--color-yellow);
  border-color: var(--color-yellow-dark);
}

.player_token__orange {
  background-color: var(--color-orange);
  border-color: var(--color-orange-dark);
}

.player_token__purple {
  background-color: var(--color-purple);
  border-color: var(--color-purple-dark);
}

.player_token__black {
  background-color: var(--color-black);
  border-color: var(--color-black-dark);
}

.player_token__white {
  background-color: var(--color-white);
  border-color: var(--color-white-dark);
}